
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}

h1{
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', 'sans-serif';
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    position: absolute;
}
#content{
    transition: 750ms;
}
#content img{
    width: 100%;
}

@media screen and (max-width: 60em){

    #menu:hover + .content{
        background-color: blue;
    }
    #content img{
        width: 200%;
    }
    

}