@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    margin: 0;
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 217, 0, 0.945);
}
#menu img{
    margin-left: 2px;
    width: 50px;
    cursor: pointer;
}

#topics{
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
#menu img:hover{
    box-shadow: 0 0 2px white;
}
#menu #home{
    float: right;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: Helvetica;
}

#content{
    transition: 500ms;
}
@media screen and (max-width: 60em){

#topics li{
    list-style: none;
    text-align: center;
    margin: 30px;
    height: 40px;
    background-color: rgba(255, 217, 0, 0.945);
    line-height: 40px;
    border-radius: 5px;
    font-family: 'Helvetica';
}
}
#topics{
    transition: 300ms;
    padding: 3px;
}

@media screen and (min-width: 60em){
#topics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#topics li{
    list-style: none;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: gold;
    line-height: 40px;
    font-family: 'Helvetica';
}

}
#topics li:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}




footer{
    background-color: #242424;
    width: 100%;
    height: 200px;
    margin-top: 400px;
}

footer p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 50px;
    line-height: 100px;
    color: white;
}

